
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    color: #A54328;
    font-family: "Source Serif 4", serif;
}

main {
    max-width: 37rem;
    margin: 5.4rem 3.4rem;
}

.first-div {
    display: flex;
    flex-direction: column;

    gap: 4.7rem;
}

.first-div h1 {
   font-size: 2.8rem;
   font-weight: bold;
}

.first-div p{
    max-width: 30.8rem;

    font-size: 1.5rem;
    font-weight: 400;
    text-align: justify;

    margin-bottom: 3.4rem;
}

.second-div {
    display: flex;
    flex-direction: column;
}

.second-div h1 {
    font-size: 2.8rem;
    margin-bottom: 3.6rem;
}

.second-div p {
    font-size: 1.5rem;
    font-weight: bold; 
}

ul {
    font-size: 1.5rem;
    font-weight: 500;

    padding-left: 2rem;
    margin-bottom: 2rem;
}

ol {
    font-size: 1.5rem;
    font-weight: 500;

    padding-left: 2rem;
}

button {
    margin-top: 5rem;
    padding: 1.2rem;
    
    background: #A54328;
    color: white;
    border-radius: 6px;

    font-size: 1.5rem;
    font-family: "Source Serif 4", serif;
    
}