
body {
    font-family: "Open Sans", serif;
    text-align: center;
    margin: 0;
}

.hero {
    width: 592px;
    /* quando colocamos apenas auto no margin, ele apenas aplica a margin na esuqerda e direita*/
    /* primeiro valor aplica para o top e bottom, segundo valor left right*/
    /* 3 valores, primeiro top segundo valor left right terceira, bottom*/
    /* Funciona como um relógio , sentido horario, top, rigth, bottom, left*/
    margin: 0 auto 72px;
    
}


.hero img {
    margin-bottom: 72px;
}

h1 {
    font-family: "Inter", serif;
    font-size: 49px;
    line-height: 56px;
    font-weight: normal;

    margin-bottom: 32px;
}

h1 span {
    font-weight: bold;
}


span, a {
    color: #FF9900;
}

p, footer {
    color: #7D7987;
    font-size: 14px;
    line-height: 28px;
}

/*Pegue um a que tenha anterior a ele um a*/
.footer a + a {
    margin-left: 30px;
}

.line {
    width: 568px;
    height: 0;
    margin: 0 auto 8px;
    border: 1px solid #ECEFF2;
}

.balls {
    position: fixed;
    bottom: 0;
    right: 0;
}