
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #ECE9FD;

    padding: 60px 23px 66px;
}

h1 {
    font-family: 'Epilogue' , serif;
    font-size: 1rem;
    line-height: 3rem;
}

ul {
    list-style: none;
}