
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;
    font-family: "Mulish", serif;

    --color-base-white: #ffffff;
    --color-base-gray-100: #F4FCFF;
    --color-base-gray-900: #121214;
    --color-base-gray-700: #202024;
    --color-base-blue-200: #387E96;
    --color-base-blue-400: #065E7C;
    
}

html, body, input {
    font-family: "Mulish", serif;
}

body {
    font-size: 1.6rem;
    background-color: var(--color-base-gray-100);
    /* color: var(--color-base-gray-900); */
}

.container {
    display: flex;
    height: 100vh;
}

header {
    background-color: var(--color-base-blue-400);

    display: flex;
    justify-content: space-between;
    padding: 1.2rem 2.8rem;
}

input {
    padding: 1.2rem 1.6rem 1.2rem 1.4rem;
    border-radius: 0.4rem;
    border: none;

    font-weight: 900;
    color: var(--color-base-gray-100);
    background-color: #387E96;
    
    
}

main {
    display: flex;
    flex-direction: column;
}

.cat1-img {
    width: 100%;
}


.first-title {
   
   
    
}

h1 {
    margin: 3.1rem 6.6rem 0 2.2rem;
    width: 342px;
    height: 38px;
    font-size: 24px;
    font-weight: bold;
}

.box-button {
    display: flex;
    gap: 1.2rem;
    padding-left: 2.2rem;
    
}